APP_NAME=ZinsVergleich24
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://zinsvergleich24.com

APP_LOCALE=de
APP_FALLBACK_LOCALE=de
APP_FAKER_LOCALE=de_DE

SESSION_DRIVER=file
SESSION_LIFETIME=120

DB_CONNECTION=sqlite
